.topcontainar{
  background-color: #E4F9F5;
position:relative;
padding-top:100px;

}
body{
  margin-top:0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
text-align: center;
font-family: 'Merriweather', serif;
}
.dp{
  margin-top: 50px;
}
h1{
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive;
font-size: 5.625em;
color: #66BFBF;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;


}
.middlecontainar{
}
.bottomcontainar{

}
.pro{
  text-decoration: underline;
}
.bottomcloud{
  position:absolute;
  left:450px;
  bottom:300px;
}
.topcloud{
  position: absolute;
  top:50px;
  right:350px;
}
.imagemod{
  border-radius: 100%;
  width:25%;
  float:left;
  position: relative;
  bottom:50px;
  margin-right: 70px;
}
.graphic{
  border-radius: 100%;
width:25%;
float:right;
position: relative;
right:200px;
top:25px;
}
.footer-link{
  color:#11999E;
}
.skill-row{
  width:50%;
  margin:50px auto 50px auto;
  text-align: left;
}
.contact-me{
  padding-top: 100px;
}
.modh3{
  display:inline-block;
  position:relative;
  top:60px;
  right:200px;

}
.modp{
  display:inline-block;
  position: relative;
  top:50px;
  left:60px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-top-width: 10px;
  border-top-color: #EAF6F6;
  width:10%
}
.btn{

  background-color: #66BFBF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.bottom-container{
  margin-top: 100px;
background-color: #66BFBF;
height:150px;
}
.last{
  color:white;
}
a{
  text-decoration: none;
}
a:hover{
  background-color: white;
}
